.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  height: 100%;
}

h1 {
  color: #301b3f;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 2% 0;
  height: 60%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
